.map {
    flex-grow: 1;
    height: 100%;
}

.leaflet-container {
    width: 100%;
    height: 100%;
}

.point-marker .marker-circle {
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    box-shadow: 2px 1px 5px #1e1e1e66;
    opacity: 0.95;
    filter: blur(1px);
    border-radius: 50%;
    animation: 500ms ease-in-out infinite alternate marker;
}

@keyframes marker {
    from {
        transform: scale(1);
    }
    from {
        transform: scale(1.1);
    }
}
