.map-legend {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 1em;
    display: flex;
    flex-direction: column-reverse;
    background-color: white;
    z-index: 1000;
}

.map-legend > * {
    height: 100%;
    position: relative;
}

.map-legend i {
    position: absolute;
    bottom: 0;
    right: 100%;
    margin: 0.5em;
}

.map-legend .desc {
    position: absolute;
    right: 100%;
    top: 0;
    width: 10ch;
    text-align: right;
    margin: 0.5em;
}