.time-selector {
    cursor: auto;
    position: absolute;
    font-size: 1rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--bg);
    padding: 0.5em 1em;
    border-radius: var(--radius-m) var(--radius-m) 0 0;
    border: 2px solid var(--text);
    border-bottom-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    z-index: 10000;
}

.mobile .time-selector {
    position: fixed;
    height: 10vh;
    border-right-style: none;
    border-left-style: none;
    border-radius: 0;
    width: 100%;
}

.time-selector .selector {
    width: 13em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.time-selector .selector > * {
    display: flex;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
}

.time-selector button {
    padding: 0.2em 0.7em;
    cursor: pointer;
}