/* -------------------------------------------------------------------------- */
/*                                  RESET CSS                                 */
/* -------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: inherit;
  vertical-align: baseline;
  line-height: inherit;
  -webkit-appearance: none;
  appearance: none;
  background: unset;
}

html {
  font-family: system-ui, sans-serif;
  font-size: 1.1em;
  line-height: 1.3;
}

ol, ul {
  list-style: none;
}

textarea {
  resize: none;
}

a {
  color: unset;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
}


/* -------------------------------------------------------------------------- */
/*                               GLOBAL VARIABLE                              */
/* -------------------------------------------------------------------------- */
:root {
  /* colors */
 --bg: #fcf9f5; /* ok */
 --bg-60: #fbf8f399; /* ok */
 --bg-80: #fbf8f3cc; /* ok */

 --text: #150f08; /* ok */
 --text-40: #150f0866; /* ok */
 --text-80: #150f08cc; /* ok */

 --accent: #0946a2;
 --fail: #c64140; /* ok */
 --success: #217347;

  /* general */
 --transitions: 200ms;
 --radius-s: 0.25em;
 --radius-m: 0.5em;

 /* titles */
 --h1-size: 1.8rem;
 --h2-size: 1.5rem;
 --h3-size: 1.3rem;
}

/* -------------------------------------------------------------------------- */
/*                               GENERAL STYLING                              */
/* -------------------------------------------------------------------------- */
html, body {
  color: var(--text);
  background-color: var(--bg);
}

/* -------------------------------- utilities ------------------------------- */
.bold {
  font-weight: 600;
}

.my-1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.mx-05 {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.my-2 {
  margin-top: 2em;
  margin-bottom: 2em;
}

.margin-center {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.gap-1 {
  display: flex;
  gap: 1em;
}

.text-img {
  max-height: 2em;
  padding: 0.1em;
  object-fit: contain;
}

.content-width {
  margin: 0 auto;
  width: 100%;
  max-width: 90ch;
  padding-left: 1.5ch;
  padding-right: 1.5ch;
}

/* --------------------------------- titles --------------------------------- */
.h1 {
  font-size: var(--h1-size);
  font-weight: 600;
}

.h2 {
  font-size: var(--h2-size);
  font-weight: 500;
}

.h3 {
  font-size: var(--h3-size);
  font-weight: 500;
}

/* --------------------------------- buttons -------------------------------- */
.btn {
  --btn-color: var(--text);
  max-width: 100%;
  padding: 0.5em 1.5em;
  color: var(--btn-color);
  cursor: pointer;
  border: 2px solid var(--btn-color);
  border-radius: var(--radius-s);
  box-shadow: 2px 2px 0px var(--btn-color);
  transition: var(--transitions);
}
.btn:hover {
  box-shadow: 3px 3px 1px var(--btn-color);
  transform: scale(1.005);
}

.btn-danger {
  --btn-color: var(--fail);
}

.btn-accent {
  --btn-color: var(--accent);
}

.burger-btn {
  z-index: 3;
  font-size: var(--h2-size);
  padding: 0.5em;
  cursor: pointer;
  transition: var(--transitions) ease;
}
.burger-btn:hover {
  transform: scale(1.1);
}

/* ---------------------------------- link ---------------------------------- */
.link {
  font-weight: 600;
  transition: transform var(--transitions) ease-out;
  display: inline-flex;
  align-items: center;
  line-height: 0.8;
  gap: 0.2em;
  cursor: pointer;
}
.link:hover {
  transform: scale(1.05);
}

.link-icon::after {
  content: "🔗";
  font-size: 0.8em;
}

/* ------------------------------- checkboxes ------------------------------- */
.checkbox-container {
  display: flex;
  align-items: end;
  width: 100%;
}
.checkbox-container label {
  max-width: 85%;
}

input[type="checkbox"] {
  position: relative;
  margin-bottom: 0.1em;
  border: 2px solid var(--text);
  border-radius: var(--radius-s);
  box-shadow: 1.5px 1.5px 0px var(--text);
  height: 1em;
  width: 1em;
  cursor: pointer;
  appearance: unset;
  transition: var(--transitions);
}

input[type="checkbox"]:hover {
  transform: scale(1.1);
}

input[type="checkbox"]:checked::after {
  content: "✔";
  /* background-color: var(--accent); */
  border-radius: var(--radius-s);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
}

/* --------------------------------- select --------------------------------- */
/* inspired from moderncss.dev/custom-select-styles-with-pure-css/ */
.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
  border: 2px solid var(--text);
  border-radius: var(--radius-s);
  height: fit-content;
}

.select select {
  cursor: pointer;
  grid-area: select;
  padding: 0.2em;
  padding-right: 2em;
}

.select::after {
  content: "";
  justify-self: end;
  grid-area: select;
  width: 0.8em;
  height: 0.5em;
  margin-right: 0.2em;
  background-color: var(--text);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}
