/* -------------------------------------------------------------------------- */
/*                                  RESET CSS                                 */
/* -------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: inherit;
  vertical-align: baseline;
  line-height: inherit;
  -webkit-appearance: none;
  appearance: none;
  background: unset;
}

html {
  font-family: system-ui, sans-serif;
  font-size: 1.1em;
  line-height: 1.3;
}

ol, ul {
  list-style: none;
}

textarea {
  resize: none;
}

a {
  color: unset;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
}


/* -------------------------------------------------------------------------- */
/*                               GLOBAL VARIABLE                              */
/* -------------------------------------------------------------------------- */
:root {
  /* temporary colors*/
 --bg: #ffffff;
 --text: #1e1e1e;
 --accent: #00ffff;
 --secondary: #ff00ff;

 --h2-size: 1.5rem;
 --h2-size: 1.3rem;
}

/* -------------------------------------------------------------------------- */
/*                               GENERAL STYLING                              */
/* -------------------------------------------------------------------------- */
html, body {
  overflow: hidden;
  color: var(--text);
  background-color: var(--bg);
}

/* .h1 {
  
} */

.h2 {
  font-size: var(--h2-size);
  font-weight: 500;
}

.h3 {
  font-size: var(--h3-size);
  font-weight: 500;
}


/* select */
/* inspired from moderncss.dev/custom-select-styles-with-pure-css/ */
.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
  border: 1px solid var(--text);
  border-radius: 0.25em;
  height: fit-content;
}

.select select {
  cursor: pointer;
  grid-area: select;
  padding: 0.2em;
  padding-right: 2em;
}

.select::after {
  content: "";
  justify-self: end;
  grid-area: select;
  width: 0.8em;
  height: 0.5em;
  margin-right: 0.2em;
  background-color: var(--text);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}


.burger-btn {
  z-index: 10;
  font-size: var(--h2-size);
  padding: 0.5em;
  cursor: pointer;
  transition: transform 200ms ease;
}
.burger-btn:hover {
  transform: scale(1.1);
}
