#settings-btn {
    right: 0;
}

.settingsContainer {
    height: 100vh;
    height: 100dvh;
    overflow: hidden;
    background-color: var(--bg);
    width: 0;
    opacity: 0;
    visibility: hidden;
    transition: 200ms;
    right: 0;
    padding: 1em 0;
    padding-top: 3em;
}

.settingsContainer.active {
    visibility: visible;
    opacity: 1;
    width: 15em;
    width: min(15em, 75%);
}

.settingsContainer .about {
    text-align: center;
}

.settingsContainer .datas, .settingsContainer .levels {
    border-top: 0.5px solid var(--text);
    margin-top: 1.5em;
    padding: 1.5em 1em 0;
    display: grid;
    gap: 1em;
}

.settingsContainer .select-data {
    text-align: left;
    cursor: pointer;
}

.settingsContainer .select-data::before {
    content: "";
    display: inline-block;
    font-size: 0.8em;
	width: 0;
	height: 0;
    padding-right: 0.5em;
	border-top: 0.5em solid transparent;
	border-left: 0.9em solid var(--text);
	border-bottom: 0.5em solid transparent;
}

.settingsContainer .select-data.active {
    cursor: pointer;
    font-weight: bold;
}
.settingsContainer .select-data.active::before {
	border-left: 0.9em solid var(--accent);
}

.settingsContainer .title-divider {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
}
.title-divider::before, .title-divider::after {
    content: "";
    height: 1px;
    width: 1em;
    background-color: var(--text);
}