.text-input-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5em;
  width: 100%;
  max-width: 35em;
}

/* ---------------------------------- INPUT --------------------------------- */
.text-input {
  --border-color: var(--text);
  padding: 0.3em;
  outline: none;
  border: 2px solid var(--border-color);
  border-radius: var(--radius-s);
  box-shadow: 2px 2px 0px var(--border-color);
  transition: var(--transitions) ease-out;
}

.text-input:hover {
  transform: scale(1.005);
  box-shadow: 3px 3px 1px var(--border-color);
}

.text-input:focus {
  --border-color: var(--accent);
}

.text-input::placeholder {
  color: var(--text-80);
  transition: color var(--transitions) ease-out;
}

.text-input:hover::placeholder,
.text-input:focus::placeholder {
  color: var(--text-50);
}

.fail .text-input:not(:focus) {
  --border-color: var(--fail);
}

.success .text-input:not(:focus) {
  --border-color: var(--success);
}

/* ---------------------------------- LABEL --------------------------------- */
.text-label {
  transition: color var(--transitions) ease-out;
}

.success .text-label {
  color: var(--success);
}

.fail .text-label {
  color: var(--fail);
}

.text-label .error {
  display: none;
}

/* just decided to go nuts w/ css selector */
.fail .text-input:not(:focus)~.text-label .regular {
  display: none;
}

.fail .text-input:not(:focus)~.text-label .error {
  display: block;
}