.forecast-container {
    /* hide */
    display: none;
}

.forecast-container.active {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 0.3em;
    grid-template-rows: 1fr auto;
    width: 50%;
    min-width: 20em;
    max-width: 90%;
    height: 100%;
    background-color: var(--bg);
    user-select: none;
    container: forecast-container / size;
}

.resizer {
    grid-row: 1 / 3;
    grid-column: 2;
    cursor: e-resize;
}
.sounding, .meteogram {
    grid-row: 1;
    grid-column: 1;
}

.forecast-nav {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    padding: 0 0.5em;
    border-top: 1px solid var(--text);
}

.forecast-nav > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    flex-shrink: 1;
}

.separator {
    width: 0.1em;
    min-width: 0.1em;
    margin: 0.3em;
    flex-shrink: 0;
    background-color: var(--text);
    border-radius: 10px;
}

.height-select {
    display: flex;
    gap: 0.2em;
    align-items: center;
}

.main-nav {
    display: flex;
    gap: 0.5em;
    align-items: center;
    flex-shrink: 1;
    height: 100%;
}

.nav-btn { /* clickable btns */
    padding: 0.5rem;
}

.close-forecast {
    font-size: 1.1em;
}

/* --------------------------- MOBILE / RESPONSIVE -------------------------- */
.mobile .forecast-container.active {
    width: 100%;
    max-width: 100%;
    min-width: 100dvw;
}

.mobile .resizer {
    display: none;
}

.mobile .resizer {
    display: none;
}

@container forecast-container (width < 62ch) {
    .forecast-nav {
        justify-content: space-around;
    }
    .forecast-nav > .separator {
        width: 100%;
        height: 0.1em;
    }

    .forecast-nav > .actions {
        justify-content: space-between;
        padding: 0 1.5em;
        flex-grow: 1;
    }

    .forecast-nav > .main-nav {
        flex-grow: 1;
        height: auto;
        padding: 0 1.5em;
        padding: 0 calc(1.5em - 0.5rem);
        margin-bottom: 0.5em;
        justify-content: start;
    }
}